@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900');
@-webkit-keyframes text-pop-up-top{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(-50px);transform:translateY(-50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}@keyframes text-pop-up-top{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(-50px);transform:translateY(-50px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}
html {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}
/* Logo */
.logo {
    position: relative;
    top: -8px;
    height: 65px;
    width: auto;
    padding: 0 auto;
    margin: 0 auto;
}
#navbar-anim {
    -webkit-animation: text-pop-up-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* NAVBAR */
    /* Navbar Conatiner */
    .nav-container {
        width: 100%;
        height: 65px;
        background: #0B5043;
    }
    .navbar {
        display: flex;
        max-width: 100%;
        height: 80px;
        text-align: center;
        white-space: wrap;
        word-break: break-word;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }
        /* Navbar Styling */
        li {
            list-style: none;
        }
        li a {
            text-decoration: none;
        }
        .navbar li {
            float: left;
            padding: 0;
            text-align: left;
            background: transparent;
        }
        .navbar li:first-child {
            border: none;
        }
        .navbar li a {
            padding: 14px 16px;
            color: white;
            font-family: 'Titillium Web', 'Courier New', Courier, monospace;
            font-weight: 600;
            text-align: left;
            font-size: 1.3rem;
            line-height: 1.2em;
            vertical-align: top;
        }
        .navbar li:hover a {
            color: #cf455c;
            font-weight: 700;
        }
        .dropdown {
            display: block;
            position: absolute;
            width: 200px;
            top: 62px;
            opacity: 1;
            background-color: transparent;
            font-size: 1em;
            visibility: hidden;
            padding: 0;
            margin: 0;
        }
        .hassubs {
            padding: 14px 16px;
        }

        /* First Sub Level */
        .sub {
            position: relative;
            font-size: 0.8em !important;
            width: 200px;
            border-left: none !important;
            color: #A01631;
        }
        .subs:last-child {
            border: none !important;
        }
        .hassubs:hover .dropdown, .hassubs .hassubs:hover .dropdown {
            opacity: 0.9;
            visibility: visible;
        }
        .navbar li:hover ul a, .navbar li ul li ul li:hover {
            display: flex;
            position: relative;
            overflow: hidden;
            background-color: #052821;
            color: white;
            font-weight: 300;
            border-radius: 2px;
            opacity: 0.8;
            width: 190px;
            height: auto;
        }
        .navbar li ul li:hover a, .navbar li ul li ul li:hover a {
            color: yellow;
        }

        /* Second Sub Level */
        .hassubs .hassubs .dropdown .sub {
            position: relative;
            top: 20px;
            left: 80px;
            width: 210px;
            background-color: #16A085;
            border-radius: 2px;
        }
        .hassubs .hassubs .dropdown {
            position: absolute;
            width: 160px;
            left: 140px;
            top: 0px;
            opacity: 1;
            z-index: 5;
            visibility: hidden;
        }

