@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900');
@import url(https://fonts.googleapis.com/css?family=Catamaran:100,200,300,regular,500,600,700,800,900);
@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(0px);transform:translateY(0px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-10px);transform:translateY(-10px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-15px);transform:translateX(-15px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}
@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-10px);transform:translateY(-10px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
@-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}

html {
    font-size: 16px;
    font-family: 'Catamaran', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: white;
}
body {
    padding: 0;
    margin: 0; 
}
/* Navbar Logos */
.logo {
    position: relative;
    top: 0px;
    height: 70px;
    width: auto;
    padding: 0 auto;
    margin: 0 auto;
    border-radius: 10px;
}
.min-logo {
    position: relative;
    top: 1px;
    height: 42px;
    width: auto;
    padding: 0;
    margin: 0;
    border-radius: 5px; 
}
.min-menu {
    position: absolute;
    top: 12px;
    right: 10px;
    height: 20px;
    width: auto;
    opacity: 0.7;
    padding: 0;
    margin: 0;
}

/* NAVBAR */
    /* Navbar & Container */
    .nav-container {
        position: fixed;
        margin-top: -25px;
        width: 100%;
        height: 45px;
        border-bottom: 0.5px solid #D6D6D6;
        background-image: linear-gradient( 1.9deg,  rgba(252,250,250,1) 5.7%, rgba(221,219,219,1) 87.7% );
        z-index: 5555;
    } 
    .navbar {
        display: flex;
        position: fixed;
        margin-top: -25px;
        visibility: hidden;
        width: 100%;
        height: 80px;
        white-space: wrap;
        word-break: break-word;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        z-index: 5555;
        text-align: center;
    }
    /* Navbar & Container Hover Behaviour */
    .nav-container:hover .navbar {
        visibility: visible;
    }
    .nav-container:hover .min-logo, .nav-container:hover .min-menu {
        display: none;
    }
    .nav-container:hover {
        height: 71px;
        z-index: 5;
        border-bottom: none;
        background-image: linear-gradient( 1.9deg,  rgba(252,250,250,1) 5.7%, rgba(221,219,219,1) 87.7% );
        -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    /* Navbar Elements */
    .login {
        position: relative;
        top: -2px;
        left: 20px;
        font-weight: 500 !important;
        background: linear-gradient( 180deg,  rgba(119,203,239,0.42) -0.5%, rgba(100,196,237,0.38) 101.5% );
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(235,235,235,0.5);
        box-shadow: 0px 2px 4px rgb(38, 74, 89);
        border: 2px linear-gradient( 179deg,  rgba(100,196,237,0.57) 1.9%, rgba(75,147,178,1) 87.5% );
        border-radius: 10px;
        padding: 0px 25px !important;
    }
    .login:hover {
        border-top: none !important;
        box-shadow: 0px 4px 8px #ED8D64 !important;
        border: 2px linear-gradient( 179deg,  rgba(100,196,237,0.57) 1.9%, rgba(75,147,178,1) 87.5% );
    }

        /* Navbar Styling */
        li {
            list-style: none;
        }
        li a {
            text-decoration: none;
            border: none;
        }
        .navbar li {
            float: left;
            padding: 0;
            text-align: left;
            background: transparent;
        }
        .navbar > li:hover > a {
            border-top: 3px solid #ED8D64;
            color: transparent;
            background: #ED8D64;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            text-shadow: 0px 3px 3px rgba(178,106,75,0.3);
            -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        .navbar li:first-child {
            border: none;
        }
        .navbar > li > a {
            color: transparent;
            background: #666666;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            text-shadow: 0px 3px 3px rgba(235,235,235,0.5);
        }
        .navbar li a {
            padding: 14px 16px;
            font-family: 'Titillium Web', 'Courier New', Courier, monospace;
            font-weight: 300;
            text-align: left;
            font-size: 1.3rem;
            line-height: 1.2em;
            vertical-align: top;
        }
        .navbar li:hover a {
            color: #ED8D64;
            font-weight: 600;
            -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        .dropdown {
            display: block;
            position: absolute;
            width: 180px;
            top: 71px;
            opacity: 1;
            background-color: transparent;
            font-size: 1em;
            visibility: hidden;
            padding: 0;
            margin: 0;
        }
        .hassubs {
            padding: 14px 16px;
            z-index: 1;
        }
        /* First Sub Level */
        .sub {
            position: relative;
            font-size: 0.8em !important;
            width: 200px;
            border-left: none !important;
            z-index: 5;
        }
        .subs:last-child {
            border: none !important;
        }
        .hassubs:hover .dropdown, .hassubs .hassubs:hover .dropdown {
            opacity: 0.8;
            visibility: visible;
        }
        .navbar li:hover ul a, .navbar li ul li ul li:hover {
            display: flex;
            position: relative;
            overflow: hidden;
            background-color: rgba(221,219,219,1);
            color: #19313B;
            font-weight: 300;
            border-radius: 2px;
            opacity: 0.9;
            width: 190px;
            height: auto;
            z-index: 5;
        }
        .navbar li ul li:hover a, .navbar li ul li ul li:hover a {
            color: #ED8D64;
            font-weight: 300;
            opacity: 1;
        }
        /* Second Sub Level */
        .navbar > li > ul > li > ul > li > a {
            color: #19313B !important;
        }
        .navbar > li > ul > li > ul > li:hover > a {
            color: #ED8D64 !important;
            font-weight: 600;
        }
        .hassubs .hassubs .dropdown .sub {
            position: relative;
            top: 20px;
            left: 80px;
            width: 210px;
            background-color: rgba(221,219,219,1);
            opacity: 0.9;
            border-radius: 2px;
        }
        .hassubs .hassubs .dropdown {
            position: absolute;
            width: 160px;
            left: 141px;
            top: 0px;
            opacity: 1;
            visibility: hidden;
            z-index: 5555;
        }
        .hassubs .hassubs:hover .dropdown {
            -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

/* Image Containers & Text Divs */
.image-order {
    z-index: 1;
}
/* Landing Image & Elements Container */
.front-back-image-container {
    display: flex;
    justify-content: space-around;
    height: 95vh;
    max-width: 100vw;
    margin: 25px 0px;
    background-image: linear-gradient( 90.8deg,  rgba(255,255,255,1) 2.6%, rgba(223,223,223,0.80) 98.6% );
    scroll-snap-align: start;
    z-index: 1;
}
.front-back-image {
    display: block;
    position: relative;
    /* float: left; */
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    height: 90vh;
    max-width: 50vw;
    margin: 0;
    padding: 0;
    z-index: 1;
}

/* Landing Text & Elements */
.landing-elements {
    display: flex;
    flex-flow: column nowrap;
    margin: 5px;
    padding: 5px;
    z-index: 2;
    background-image: linear-gradient( 90.8deg,  rgba(255,255,255,1) 2.6%, rgba(223,223,223,0.80) 98.6% );}
    .landing-text {
        position: relative;
        top: 20px;
        left: 0px;
        height: auto;
        max-width: 50vw;
        text-align: center;
        font-family: 'Catamaran', sans-serif;
        font-size: 60px;
        font-weight: 700;
        line-height: 0px;
        letter-spacing: 4px;
    }
    .landing-text-1 {
        display: block;
        position: relative;
        max-width: 50vw;
        padding: 0px 0px 30px 0px;
        border-bottom: 3px solid lightgray;
    }
    .landing-text-2 {
        display: block;
        position: relative;
        top: -30px;
        max-width: 50vw;
        font-size: 25px;
        color: slategray;
    }
    .landing-blurb {
        display: block;
        position: relative;
        top: -20px;
        height: auto;
        max-width: 48vw;
        word-wrap: normal;
        text-align: left;
        line-height: 1.5;
        letter-spacing: 1px;
        font-family: inherit;
        font-size: 1.1em;
        font-weight: 300;
        padding: 30px 20px;
    }
    .specs {
        display: block;
        position: relative;
        top: -40px;
        left: 10px;
        height: auto;
        max-width: 50vw;
        text-align: left;
        font-family: inherit;
        font-size: 1em;
        font-weight: 300;
        padding: 0px 10px;
    }
    .specs > ul > li {
        list-style-type: disc !important;
    }

/* Color Selection */
.color-container {
    display: block;
    width: 50vw;
    height: auto;
    padding: 30px 30px;
}
.color-form {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -20px;
    max-width: 50vw;
    height: auto;
    text-align: center;
}
.color-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #7E9EAD;
    color: white;
    top: -5px;
    right: -20px;
    height: 30px;
    width: 30px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 0px;
    outline: none;
}
.color-button:checked::before {
    position: absolute;
    font-size: 1em;
    font-family: inherit;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}
.color-button:hover {
    background-color: #BFCED6;
}
.color-button:checked {
    background-color: #7E9EAD;
}
.color-button > label {
    font-size: 1em;
    font-family: inherit;
    color: darkgray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;

}

/* Pre-Order Form */
.pre-order-form {
    display: block;
    position: relative;
    max-width: 50vw;
    height: auto;
    text-align: center;
    padding: 30px 20px;
}
.price {
    display: inline-block;
    position: relative;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
    padding: 0 40px 0 0;
    margin: 0;
}
.pre-order-button {
    display: inline-block;
    position: relative;
    top: 0px;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(235,235,235,0.5);
    box-shadow: 0px 2px 4px rgb(38, 74, 89);
    background-image: linear-gradient( 178.4deg,  rgba(148,174,186,0.31) 3%, rgba(83,125,145,0.69) 90.7% ) !important;;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
    border-radius: 10px;
    width: 250px;
    height: 40px;
    padding: 0;
    margin: 0;
    z-index: 9999;
    transition: ease-out 0.1s;
    -webkit-transition: ease-out 0.1s;
    -moz-transition: ease-out 0.1s;
}
.pre-order-button:hover {
    background-color: #8D9F69;
    border-color: #6A774F;
    transition: ease-in 0.2s;
    -webkit-transition: ease-in 0.2s;
    -moz-transition: ease-in 0.2s;
}

/* Right Image */
.right-image-container {
    display: flex;
    height: 95vh;
    width: 100vw;
    margin: 25px 20px;
    justify-content: space-around;
    align-content: flex-start;
    /* align-items: center; */
    scroll-snap-align: start;
    background-color: white;
    z-index: 1;
}
.right-image {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);    
    right: 15px;
    height: 90vh;
    width: auto;
    z-index: 1;
}
.right-image-text-container {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    height: 90vh;
    width: 50vw;
    z-index: 5;
}
.right-image-title {
    display: block;
    height: auto;
    width: 70vw;
    position: relative;
    top: 0px;
    text-align: left;
    font-size: 1.9em;
    font-family: 'Catamaran';
    font-weight: 700;
    margin: 0;
    padding: 14px 16px;
}
.right-image-title > h2 {
    border-bottom: 3px solid lightgray;
}
.right-image-blurb {
    display: block;
    position: relative;
    top: -20px;
    width: 65vw;
    height: auto;
    text-align: left;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0;
    padding: 14px 16px;
}
.right-image-specs-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: flex-start;
    position: relative;
    top: -15px;
    left: 25%;
    transform: translateX(-25%);
    flex-flow: row wrap;
    width: 50vw;
    height: auto;
    text-align: left;
    border-bottom: 1px solid lightgray;
}
.right-image-specs-sub-container {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1;
    margin: 14px 16px;
}
.spec-type {
    font-size: 0.9em;
    font-weight: 300;
    padding: 14px 16px;
    margin: 0;
}
.spec-figure {
    font-size: 1.5em;
    font-weight: 500;
    padding: 14px 16px;
    margin: 0;
}
.spec-unit {
    font-size: 0.8em;
    font-weight: 300;
    padding: 14px 16px;
    margin: 0;
}

.right-image-screen-blurb {
    display: block;
    position: relative;
    width: 50vw;
    height: auto;
    text-align: left;
    font-size: 1.2em;
    font-weight: 300;
    padding: 14px 16px;
}
.right-image-screen-specs-container {
    display: flex;
    position: relative;
    height: auto;
    width: 48vw;
    justify-content: space-around;
    align-items: flex-start;
    align-content: baseline;
    flex-flow: row wrap;
    line-height: 1;
    margin: 14px 16px;
}

.right-image-asterisk {
    display: block;
    position: absolute;
    bottom: -20px;
    width: 50vw;
    height: auto;
    text-align: left;
    font-size: 0.8em;
    font-weight: 300;
    margin: 0;
    padding: 14px 16px;
}



.back-image-container {
    display: flex;
    height: 95vh;
    width: 100vw;
    margin: 25px 0px;
    scroll-snap-align: start;
    background-color: white;
    z-index: 1;
}
.back-image {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    height: 90vh;
    width: auto;
    z-index: 1;
}
.back-image-text-container {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    height: 90vh;
    width: 80vw;
    top: 50%; 
    transform: translateY(-50%);
    padding: 20px;
    z-index: 5;
}
.back-image-title {
    display: block;
    height: auto;
    width: 65vw;
    position: relative;
    top: 0px;
    text-align: right;
    font-size: 1.7em;
    font-family: 'Catamaran';
    font-weight: 700;
    margin: 0;
}
.back-image-title > h2 {
    border-bottom: 3px solid lightgray;
}
.back-image-blurb {
    display: block;
    width: 65vw;
    height: auto;
    word-wrap: break-word;
    text-align: left;
    font-size: 1em;
    font-weight: 300;
    font-family: inherit;
    padding: 14px 16px;
}
.back-image-specs-container {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    width: 65vw;
    height: auto;
    justify-content: space-around;
    align-items: baseline;
    align-content: flex-start;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
}
.back-image-specs-sub-container {
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1;
}
.back-image-security-title {
    display: block;
    position: relative;
    width: 65vw;
    font-size: 1.3em;
    font-family: inherit;
    font-weight: 500;
    text-align: right;
    margin: 0;
    padding: 0;
}
.back-image-security-blurb {
    display: block;
    position: relative;
    top: -10px;
    width: 65vw;
    height: auto;
    text-align: left;
    word-wrap: break-word;
    font-size: 1em;
    font-family: inherit;
    font-weight: 300;
    padding: 10px 16px;

}
.back-image-security-icons-container {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: baseline;
    width: 65vw;
    height: auto;
    position: relative;
    top: -20px;
}
.back-image-security-icons-sub-container {
    display: inline-block;
    position: relative;
    width: 15vw;
    line-height: 1;
}
.securetech-logo {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 90px;
    width: auto;
    padding: 0;
    margin: 0;
}
.fingerprint-logo {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: auto;
    padding: 0;
    margin: 0;
}
.online-logo {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: auto;
    padding: 0;
    margin: 0;
}
.security-icons-text {
    display: block;
    position: relative;
    font-size: 0.8em;
    font-family: inherit;
    font-weight: 300;
    text-align: center;
    line-height: 1.3;
}
.security-asterisk {
    position: absolute;
    height: 0.8em;
    bottom: 10px;
    width: 65vw;
    text-align: right;
    font-size: 0.8em;
    font-weight: 300;
    margin: 0;
    font-family: inherit;
}




.top-image-container {
    display: flex;
    position: relative;
    flex-flow: column wrap;
    height: 95vh;
    width: 100vw;
    margin: 25px 0px;
    scroll-snap-align: start;
    background-color: white;
    z-index: 1;
}
.top-image {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.top-image-title {
    display: block;
    position: relative;
    width: 100vw;
    height: auto;
    text-align: center;
    font-family: inherit;
    font-size: 1.7em;
    padding: 10px 0px;
    margin: 0;
}
.top-image-text-main-container {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 50vh;
    z-index: 5;
}
.top-image-subtitle {
    display: block;
    width: 48vw;
    height: auto;
    font-size: 1.2em;
    font-family: inherit;
    text-align: center;
    margin: 0px 10px;
    padding: 0;
}
.top-image-text-left-container {
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    width: 48vw;
    height: auto;
    padding: 0;
    margin: 0;
}
.top-image-text-left-blurb {
    display: block;
    width: 95%;
    height: auto;
    font-family: inherit;
    font-size: 0.95em;
    font-weight: 300;
    text-align: left;
    word-wrap: break-word;
}
.sonr-icons-main-container {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: baseline;
    position: relative;
    flex-flow: row wrap;
    width: 42vw;
    height: auto;
    padding: 14px 0px;
}
.sonr-icons-sub-container {
    display: inline-block;
    width: 12vw;
    position: relative;
    text-align: center;
    line-height: 1.2;
}
.microphone-logo, .threedee-map-logo, .bat-logo {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 65px;
    width: auto;
}
.sonr-icons-text {
    display: block;
    font-family: inherit;
    font-size: 0.8em;
    font-weight: 300;
    word-wrap: break-word;

}
.top-image-text-right-container {
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    width: 48vw;
    height: auto;
    text-align: left;
    padding: 0;
    margin: 0;
}
.future-sonr-icons-container-main {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: baseline;
    position: relative;
    width: 48vw;
    height: auto;
    line-height: 1.2;
}
.future-sonr-icons-sub-container {
    display: inline-block;
    position: relative;
    width: 15vw;
    height: auto;
    text-align: center;
}
.future-sonr-icons {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 65px;
    width: auto;
}
.future-sonr-icons-text {
    display: block;
    font-family: inherit;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.3;
    word-wrap: break-word;
}
.sonr-asterisk {
    display: flex;
    position: absolute;
    bottom: 30px;
    width: 100vw;
    height: auto;
    font-family: inherit;
    font-size: 0.7em;
}
.sonr-asterisk-1 {
    display: inline-block;
    position: absolute;
    left: 10px;
}
.sonr-asterisk-2 {
    display: inline-block;
    position: absolute;
    right: 10px;
}


.bottom-image-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 25px 0px;
    scroll-snap-align: start;
    background-color: white;
}
.bottom-image-text-main-container {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    width: 100vw;
    height: auto;
    z-index: 5;
}
.bottom-image-title {
    display: block;
    position: relative;
    width: 100vw;
    font-size: 1.7em;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    padding: 14px 16px 0px 16px;
    margin: 0;
}
.bottom-image-text-left-container {
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    width: 45vw;
    height: auto;
    padding: 14px 16px;
}
.bottom-image-subtitle {
    display: block;
    position: relative;
    width: 45vw;
    height: auto;
    font-size: 1.2em;
    font-family: inherit;
    text-align: center;
}
.bottom-image-subtitle > h3 {
    border-bottom: 1px solid lightgray;
} 
.bottom-image-text-blurb-left {
    display: block;
    position: relative;
    width: 45vw;
    height: auto;
    font-size: 1.1em;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
}
.bottom-image-right-container {
    display: inline-flex;
    position: relative;
    flex-flow: column wrap;
    width: 45vw;
    height: auto;
    padding: 14px 16px;
}
.bottom-image-text-blurb-right {
    display: block;
    position: relative;
    width: 45vw;
    height: auto;
    text-align: left;
    font-size: 1.1em;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.2;
}
.bottom-image {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    scroll-snap-align: start;
    z-index: 1;
}

.left-image-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
    position: relative;
    right: 2vw;
    height: 90vh;
    width: 100vw;
    margin: 25px 0px;
    background-color: white;
    overflow: hidden;
    z-index: 1;
}
.left-image-specs-left-container {
    display: inline-flex;
    position: relative;
    flex-flow: column wrap;
    width: 42vw;
    height: auto;
    z-index: 5;
    padding: 0;
    margin: 0;
}
.specs-subtitle-left {
    display: block;
    position: relative;
    width: 40vw;
    font-size: 1em;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    padding: 14px 16px;
}
.specs-subtitle-left > h3 {
    border-top: 1px solid lightgray;
}
.left-image-specs-left-row-container {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: baseline;
    width: 45vw;
    height: auto;
}
.left-image-specs-sub-container {
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    width: 10vw;
    height: auto;
    text-align: center;
}
.index-specs-type {
    display: block;
    position: relative;
    width: 12vw;
    font-size: 0.6em;
    font-family: inherit;
    font-weight: 300;
    margin: 5px 0px;
}
.index-specs-figure {
    display: block;
    position: relative;
    width: 12vw;
    height: auto;
    font-size: 0.8em;
    font-family: inherit;
    font-weight: 300;
    margin: 5px 0px;
}
.index-specs-unit {
    display: block;
    position: relative;
    width: 12vw;
    height: auto;
    font-size: 0.6em;
    font-family: inherit;
    font-weight: 300;
    margin: 5px 0px;
}
.left-image-specs-right-container {
    display: inline-flex;
    position: relative;
    flex-flow: column wrap;
    width: 42vw;
    height: auto;
    z-index: 5;
}
.specs-subtitle-right {
    display: block;
    position: relative;
    width: 40vw;
    height: auto;
    font-size: 1em;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    padding: 14px 16px;
}
.specs-subtitle-right > h3 {
    border-top: 1px solid lightgray;
}
.left-image-specs-right-row-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: baseline;
    width: 42vw;
    height: auto;
}
.left-image-photo-container {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    height: 90vh;
    width: auto;
    padding: 0;
    margin: 0;
}
.left-image {
    position: relative;
    left: 15px;
    height: 90vh;
    width: auto;
    scroll-snap-align: start;
    margin: 0;
    padding: 0;
    z-index: 1;
}