html {
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.5;
    margin: 0px;
    padding: 0px;

}

/* Navbar Main Menu Container */
.navbar {
    display: flex;
    position: sticky;
    height: 60px;
    width: 100%;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    /* overflow: hidden; */
    background-color: "";
}

/* Main Menu Links */
.navbar a {
    font-size: 1.2em;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 5px;
}

/* Subnav Menu Container */
.subnav {
    overflow: hidden;
    height: 65px;
    border: none;
    outline: none;
}

/* Subnav Buttons */
.subnav .smartphones-button, .subnav .computing-button {
    font-size: 1.2em;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin-top: 5px;
}

/* Nav Links Hover Color */
.navbar a:hover, .subnav:hover .smartphones-button, .subnav:hover .computing-button {
    color: black;
    border-top: 3px solid red;
}

/* Subnav Content Styling */
.smartphones-content, .computing-content {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: blue;
    width: auto;
    height: 50px;
    text-align: center;
    z-index: 1;
}

/* Subnav Links Styling */
.smartphones-content a, .computing-content a {
    color: red;
    text-decoration: none;
    position: relative;
    top: 12px;
}

/* Subnav Links Hover Color */
.smarphones-content .computing-content a:hover {
    background-color: "";
    color: black;

}

/* Open Subnav Content On Container Hover */
    .subnav:hover .smartphones-content, .subnav:hover .computing-content {
        display: block;
    }
